/* index.css */
.dimensionar-div {
  width: 100%;
  height: 10vh; /* Ancho */
}
.dimensionar-div-1 {
  width: 100%;
  height:100vh; /* Ancho */
}
.dimensionar-div-2 {
  width: 100%;
  height: 15vh; /* Ancho */
}







